<header class="bg-white py-[18px] px-[70px] flex justify-between items-center">
    <div class="flex items-center">
        <img src="http://192.168.131.169/nike-logo.png" alt="Logo-Jordan" class="w-[100px]">
    </div>

    <nav class="flex-1">
        <ul class="flex justify-center space-x-[15px] text-black font-bold text-sm">
            <li><a routerLink="/home" class="hover:text-gray-400">HOME</a></li>
            <li><a routerLink="/productos" class="hover:text-gray-400 cursor-pointer">PRODUCTOS</a></li>
            <li *ngIf="isAdmin"><a routerLink="/admin" class="hover:text-gray-400">ADMIN</a></li>
            <li><a routerLink="/user">MI USUARIO</a></li>
        </ul>
    </nav>

    <div class="flex items-center space-x-[15px]">
        <input type="text" placeholder="Buscar" class="border border-gray-100 bg-gray-100 rounded-4xl px-3 py-1 font-bold text-[15px]">
        <a href="#profile">
            <img src="http://192.168.131.169/amor.png" alt="Profile Icon">
        </a>
        <a routerLink="/chart">
            <img src="http://192.168.131.169/bolsa-de-la-compra.png" alt="Cart Icon">
        </a>
    </div>
</header>