<header class="bg-gray-200 py-[5px] px-[70px] flex justify-between items-center">
    <div class="flex items-center">
        <img src="http://192.168.131.169/air-jordan-logo.png" alt="Logo-Jordan" class="w-[50px]">
        <img src="http://192.168.131.169/converse-logo.svg" alt="Logo-Converse" class="w-[50px]">
    </div>

    <nav>
        <ul class="flex space-x-[15px] text-black font-bold text-sm">
            <li><a href="#films" class="hover:text-gray-400">Buscar una tienda</a></li>
            <li>|</li>
            <li><a href="#technology" class="hover:text-gray-400">Ayuda</a></li>
            <li>|</li>
            <li><a href="#careers" class="hover:text-gray-400">Únete a nosotros</a></li>
            <li>|</li>

            <!-- Mostrar el botón de cerrar sesión solo si el usuario está autenticado -->
            <li *ngIf="isAuthenticated" (click)="onLogout()">
                <a href="javascript:void(0);" class="hover:text-gray-400">Cerrar Sesión</a>
            </li>
        </ul>
    </nav>
</header>